# editors
.vscode
*.swp
*~

# python
.venv

# build
/build*
/twister-out*

# firmware
firmware

# tests
tests/factory_test
tests/integration/artifacts/

__pycache__/

# mkdocs
site

# macOS internals
.DS_Store
