#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Remote guard"

config MQTT_SAMPLE_CAMERA_CHUNK_SIZE
	int "Camera chunk size in bytes"
	default 1024
	help
	  Size of each camera image chunk sent over MQTT. Should be 1-4 KB to balance overhead and RAM.

config APP_LOG_LEVEL
	int "log level"
	default 3
	range 0 4
	help
		Log level for the application.

rsource "src/modules/network/Kconfig.network"
rsource "src/modules/mqtt_client/Kconfig.mqtt_client"
rsource "src/modules/transport/Kconfig.transport"
rsource "src/modules/error/Kconfig.error"
rsource "src/modules/camera/Kconfig.camera"
rsource "src/modules/gnss/Kconfig.gnss"
rsource "drivers/esp32cam/Kconfig"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
